@inherits ToastUIEditorCore

<div @ref="ElementRef" style="@InitialStyle"></div>

@code {
    protected override string JsModulePath => "./_content/WrappedToast/ToastUIEditorViewer.razor.js";

    public void SetLinkBaseHref(string? linkBaseHref)
    {
        _module?.InvokeVoidAsync("setLinkBaseHref", new object?[] { ElementRef, linkBaseHref });
    }

    public void SetImageBaseHref(string? imageBaseHref)
    {
        _module?.InvokeVoidAsync("setImageBaseHref", new object?[] { ElementRef, imageBaseHref });
    }
}
